.body {
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.app {
    background-color: black;
    display: flex;
    margin: -8px;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.header {
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    align-items: center;
    color: lime;
    height: 20vh;
    font-size: x-large;

    .header_image {
        margin: 10px;
        height: 80px;
        border-radius: 100px;
    }
    .header_content {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .header_name {
        color: orangered;
        padding-left: 30px;
    }
    .header_name:hover {
        color: orange;
        padding-left: 30px;
    }
    .header_navigations {
        display: flex;
        flex-direction: row;
    }
    .header_navigation {
        margin: 10px;
    }
    .header_navigation:hover {
        color: yellow;
    }
    .header_navigation_bars, .header_navigation_cross, .header_navigation_menu {
        display: none;
    }
    .bars, .cross {
        display: none;
        height: 5px;
        width: 50px;
        background: burlywood;
    }
    @media (max-width: 800px) {
        .header_navigations {
          display: none;
        }
        .header_navigation {
            padding: 10px;
        }
        .header_navigation_bars, .bars, .header_navigation_cross, .cross, .header_navigation_menu {
            display: flex;
            flex-direction: column;
            margin: 2px;
        }
        .header_navigation_bars, .header_navigation_cross {
            top: 0;
            right: 0;
            position: absolute;
            padding: 20px;
            margin: 20px;
            z-index: 10;
        }
        .header_navigation_menu {
            flex-direction: column;
            z-index: 2;
            top: 0;
            right: 0;
            position: absolute;
            text-align: right;
            width: 100vw;
            height: 90%;
            padding-top: 5vh;
            backdrop-filter: blur(10px);
        }
        .cross:first-child{
            background: white;
            transform: translateY(15px) rotate(45deg);
        }
        .cross:not(.cross:first-child, .cross:last-child) {
            display: none;
        }
        .cross:last-child{
            background: white;
            transform: translateY(6px) rotate(-45deg);
        }
    }
    @media (max-width: 420px) {
        .header_image {
            display: none;
        }
        .header_navigation_bars, .header_navigation_cross {
            padding: 0px;
        }
    }
}

.content {
    padding-left: 10%; 
    padding-right: 10%;
    margin-bottom: 2%;

    color: white;
    flex-grow: 1;
    font-size: large;
    height: 75vh;
    overflow: scroll;
    & > * {
        margin: 10px;
        flex-grow: 1;
    }
}

.footer {
    padding-left: 50px;
    padding-right: 50px;

    color: blue;
    height: 5vh;
    text-align: center;
    font-size: larger;
    justify-content: center;
    align-items: center;
    .footer_heart {
        color:coral;
    }
    &:hover {
        color: purple;
    }
}

.home {
    text-align: center;
}

.about {
}

.projects {
}

.project {
    display: flex;
    flex-direction: row;
    border: 2px solid burlywood;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .project {
    flex-direction: column;
    }
}

.project:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.project_image {
    padding: 10px;
    height: 200px;
    width: auto;
}
.project_content {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
